{% extends "django_datatables/base.html" %}

{% block title %}{{ datatable.verbose_name }}{% endblock %}
{% block body_class %}{{ block.super }} {{ block.super }}-view{% endblock %}

{% block content %}
<div class="row">
	<h1>{{ datatable.verbose_name }}</h1>
	<p data-toggle="tooltip" title="first tooltip">{{ datatable.description }}</p>
	
	{% include "datatables/table.html" with datatable=datatable %}
</div>
{% endblock %}